{% extends "base.html" %}

{% block content %}

{% if request.session.is_admin %}

<div class="list-group">
 {% for arena in arenas %}
 <div class="list-group-item">

   <p>{{arena.name}} {{arena.city}} {{arena.country}}</p>

 </div>
 {% endfor %}
</div>

{% else %}

<div class="list-group">
 {% for arena in arenas %}
 <div class="list-group-item">

   <p class="d-inline">{{arena.name}} {{arena.city}} {{arena.country}}</p>
   <div class="btn-group">
      <a href="/arena/edit/{{arena.id}}"  class="btn btn-xs btn-default">
     <span class="glyphicon glyphicon-edit"></span>
   </a>
       <a href="/arena/delete/{{arena.id}}" class="btn btn-xs btn-default">
      <span class="glyphicon glyphicon-trash"></span>
    </a>
   </div>

 </div>
 {% endfor %}
</div>

{% endif %}

{% endblock content %}
