{%  load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>{% block title %}FootBall
  {% endblock title %}</title>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,
initial-scale=1">
<script src="{% static 'wsrm/js/jquery.js' %}"></script>
 <link href="{% static 'wsrm/css/bootstrap.min.css' %}" rel="stylesheet">
  <script src="{% static 'wsrm/js/bootstrap.min.js' %}"></script>
  <link href="{% static 'css/styles.css' %}" rel="stylesheet">
  {% block styles %}
  {% endblock styles %}</head>
<body>

        <div class = "navWrapper">
        {% if "user_id" not in request.session %}
        <ul class="nav navbar-nav navbar-right">
               <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
               <li><a href="/register"><span class="glyphicon glyphicon-log-in"></span> Register</a></li>
             </ul>
        {% else %}
          <ul class="nav navbar-nav navbar-right">
               <li><a href="/user/{{request.session.user_id}}">{{request.session.username}} </a></li>
         </ul>
        {% endif %}
      <nav>
          <ul>
            <li><a href="{% url 'team_list' %}">Teams</a></li>
            <li><a href="{% url 'match_list' %}">Matches</a></li>
            <li><a href="{% url 'player_list' %}">Players</a></li>
          </ul>

      {% block navbar %}
      {% endblock navbar %}
    </nav>
</div>


<div class = "mainWrapper">
    <main>
      {% block content %}

      {% endblock content %}
    </main>
</div>

<div class=footWrapper>
<footer>
        <div class="infoWrapper">
        <div class="info">

        <figure class="logo">
        <img src="/static/images/logoBlack.png">
        <figcaption class="copy">
        &copy; 2018 ЗАО "Крутая компания"
        </figcaption>
        </figure>

        <small>
        Свидетельство о регистрации №123456789 от 01.01.2000г.<br>
        Лицензия на розничную торговлю №00000/00000 от 01.01.2000г.<br>
        Дата включения в торговый реестр – 01.01.2000г.
        </small>

        <div class="contact">

        <address>
        emal: mega@cool.net<br>
        MTC: +375 11 111 11 11<br>
        VECOME: +375 22 222 22 22<br>
        LIFE: +375 33 333 33 33
        </address>
        </div>

        </div>

        <img src="/static/images/payments.png" class="payments" alt="visa, master card and etc.">
        </div>
</footer>
</div>

</body>
</html>
