{% extends "base.html" %}



{% block content %}


<div class="list-group">
 {% for match in matches%}
 <div class="list-group-item row">
   <div class="col-sm-5">
     <a href="team/{{match.team1_id}}">
       {{match.team1}}
     </a>
   </div>
   <div class="col-sm-2 col-sm-push-1">
     <a href="match/{{match.id}}">
        {{match.score1}}:{{match.score1}}
     </a>
   </div>
   <div class="col-sm-5">
     <a href="team/{{match.team2_id}}">
      {{match.team2}}
     </a>
   </div>


 </div>
 {% endfor %}
</div>




{% endblock content %}
