{% extends "base.html" %}




{% block content %}

<div class="container-fluid">


  {% if request.session.is_admin %}
  <div class="col-sm-12">


  <div class="btn-group pull-left">
     <a href="/add/goal/{{team1.id}}/{{match_id}}"  class="btn btn-default">
        Add goal
  </a>
      <a href="/add/foul/{{team1.id}}/{{match_id}}" class="btn btn-default">
        Add foal
   </a>
  </div>

  <div class="btn-group pull-center">
     <a href="delete"  class="btn btn-default">
    Delete Match
  </a>
  </div>
  <div class="btn-group pull-right">
     <a href="/add/goal/{{team2.id}}/{{match_id}}"  class="btn  pull-left btn-default">
    Add goal
  </a>
      <a href="/add/foul/{{team2.id}}/{{match_id}}" class="btn  btn-default">
        Add foal
   </a>
  </div>
  </div>

  {% endif %}
  <div class="row">


    <div class="col-sm-5 text-left " style="background-color:lavender;">
    <h2>LOGO</h2>
    <h2>{{team1}}</h2>
    <h2>{{country1}}</h2>
    </div>
    <div class="col-sm-2 text-center" >
      <h2>---</h2>
    <h1>{{score1}}:{{score2}}</h1>
  </div>
    <div class="col-sm-5 text-right" style="background-color:lavenderblush;">
    <h2>LOGO</h2>
    <h2>{{team2}}</h2>
    <h2>{{country2}}</h2>
    </div>
      </div>

</div>


<h1 class="text-center"> Goals</h1>


{% for goal in goals %}

{% if not goal.is_home %}
 <div class="list-group-item row">

      <div class="col-sm-5 text-right col-sm-push-1 ">

      </div>
      <div class="col-sm-2 text-center">
          <p>
            {{goal.time}}
          </p>
      </div>
      <div class="col-sm-5 col-sm-pull-1">
          <p>
            {{goal.player_name}} {{goal.player_last_name}}
            {% if request.session.is_admin %}
            <div class="btn-group">
               <a href="/goal/edit/{{goal.id}}"  class="btn btn-xs btn-default">
              <span class="glyphicon glyphicon-edit"></span>
            </a>
                <a href="/goal/delete/{{goal.id}}" class="btn btn-xs btn-default">
               <span class="glyphicon glyphicon-trash"></span>
             </a>
            </div>
            {% endif %}
          </p>
      </div>
 </div>
{% else %}
 <div class="list-group-item row">

   <div class="col-sm-5 text-right col-sm-push-1  ">
     {% if request.session.is_admin %}
     <div class="btn-group">
        <a href="/goal/edit/{{goal.id}}"  class="btn btn-xs btn-default">
       <span class="glyphicon glyphicon-edit"></span>
     </a>
         <a href="/goal/delete/{{goal.id}}" class="btn btn-xs btn-default">
        <span class="glyphicon glyphicon-trash"></span>
      </a>
     </div>
     {% endif %}
      {{goal.player_name}} {{goal.player_last_name}}
   </div>
   <div class="col-sm-2 text-center">
       <p>
         {{goal.time}}
       </p>
   </div>
   <div class="col-sm-5 col-sm-pull-1">
       <p>

       </p>
   </div>
 </div>
{% endif %}
{% endfor %}





 <h1 class="text-center">Foals</h1>

{% for card in cards %}

{% if not card.is_home %}
  <div class="list-group-item row">

    <div class="col-sm-5 text-right col-sm-push-1  ">

    </div>
    <div class="col-sm-2 text-center">

        <p>
          {{card.time}}
        </p>
    </div>
    <div class="col-sm-5 col-sm-pull-1">
             {{card.player_name}} {{card.player_last_name}} ({{card.color}} card)
             <p>
               {% if request.session.is_admin %}
               <div class="btn-group">
                  <a href="/foal/edit/{{foal.id}}"  class="btn btn-xs btn-default">
                 <span class="glyphicon glyphicon-edit"></span>
               </a>
                   <a href="/foal/delete/{{foal.id}}" class="btn btn-xs btn-default">
                  <span class="glyphicon glyphicon-trash"></span>
                </a>
               </div>
               {% endif %}
        </p>
    </div>
  </div>

{% else %}
  <div class="list-group-item row">

    <div class="col-sm-5 text-right col-sm-push-1  ">
      <p>
        {% if request.session.is_admin %}
        <div class="btn-group">
           <a href="/foal/edit/{{foal.id}}"  class="btn btn-xs btn-default">
          <span class="glyphicon glyphicon-edit"></span>
        </a>
            <a href="/foal/delete/{{foal.id}}" class="btn btn-xs btn-default">
           <span class="glyphicon glyphicon-trash"></span>
         </a>
        </div>
        {% endif %}
      ({{card.color}} card){{card.player_name}} {{card.player_last_name}}
    </div>
    <div class="col-sm-2 text-center">

        <p>
          {{card.time}}
        </p>
    </div>
    <div class="col-sm-5 col-sm-pull-1">
        <p>

        </p>
    </div>
  </div>
{% endif %}
{% endfor %}



{% endblock content %}
