{% extends "base.html" %}



{% block content %}


<div class="list-group">
 {% for match in matchs %}
 <div class="list-group-item row">
   <div class="col-sm-5">
     <a href="team/{{match.teamid1}}">
       {{match.name1 }}
     </a>
   </div>
   <div class="col-sm-2 col-sm-push-1">
     <a href="match/{{match.id}}">
        {{match.score1}} : {{match.score2}} 
     </a>
   </div>
   <div class="col-sm-5">
     <a href="team/{{match.teamid2}}">
       {{match.name2}}
     </a>
   </div>


 </div>
 {% endfor %}
</div>




{% endblock content %}
