{% extends "base.html" %}

{% block content %}

<div class="container-fluid">

  <div class="row">


    <div class="col-sm-5 text-left " style="background-color:lavender;">
    <h2>LOGO</h2>
    <h2>Barcelona</h2>
    <h2>Spain</h2>
    </div>
    <div class="col-sm-2 text-center" >
      <h2>---</h2>
    <h1>1:1</h1>
  </div>
    <div class="col-sm-5 text-right" style="background-color:lavenderblush;">
    <h2>LOGO</h2>
    <h2>Bayern Munich</h2>
    <h2>Germany</h2>
    </div>
      </div>

</div>


<h1 class="text-center"> Goals</h1>


 <div class="list-group-item row">

      <div class="col-sm-5">

      </div>
      <div class="col-sm-2 text-center">

          <p>
            13
          </p>
      </div>
      <div class="col-sm-5 col-sm-pull-1">
          <p>
            Muller
          </p>
      </div>
 </div>

 <div class="list-group-item row">

   <div class="col-sm-5 text-right col-sm-push-1  ">
      Messi
   </div>
   <div class="col-sm-2 text-center">

       <p>
         27
       </p>
   </div>
   <div class="col-sm-5 col-sm-pull-1">
       <p>

       </p>
   </div>
 </div>






 <h1 class="text-center">Foals</h1>


  <div class="list-group-item row">

       <div class="col-sm-5">

       </div>
       <div class="col-sm-2 text-center">

           <p>
             18
           </p>
       </div>
       <div class="col-sm-5 col-sm-pull-1">
           <p>
             Thiago(Yellow card)
           </p>
       </div>
  </div>

  <div class="list-group-item row">

    <div class="col-sm-5 text-right col-sm-push-1  ">

    </div>
    <div class="col-sm-2 text-center">

        <p>
          27
        </p>
    </div>
    <div class="col-sm-5 col-sm-pull-1">
        <p>
            James(Yellow card)
        </p>
    </div>
  </div>

  <div class="list-group-item row">

    <div class="col-sm-5 text-right col-sm-push-1  ">

    </div>
    <div class="col-sm-2 text-center">

        <p>
          73
        </p>
    </div>
    <div class="col-sm-5 col-sm-pull-1">
        <p>
            Muller(Yellow card)
        </p>
    </div>
  </div>
  <div class="list-group-item row">

    <div class="col-sm-5 text-right col-sm-push-1  ">
      (Yellow card)Pique
    </div>
    <div class="col-sm-2 text-center">

        <p>
          87
        </p>
    </div>
    <div class="col-sm-5 col-sm-pull-1">
        <p>

        </p>
    </div>
  </div>









{% endblock content %}
