{% extends "base.html" %}

{% block content %}


<div class="container-fluid">

  <div class="row">



    <div class="col-sm-7" style="background-color:lavenderblush;">
    <p >
      <h3>{{first_name}} {{last_name}}</h3>
    </p>
    <a href="/team/{{team_id}}">
      <h3>{{team_name}}</h3>
    </a>
    <p>
    <h3>Forward</h3>
    </p>
    </div>
    <div class="col-sm-5" style="background-color:lavender;">
      <h1>STATS:</h1>
      <p>Goals - {{goals}}</p>

      </div>
    </div>

</div>


<h1>Matches(хз надо или нет)</h1>
<div class="list-group">
 {% for match in matchs %}
 <div class="list-group-item">

   <a href="/match/{{match.id}}">{{match.home}} - {{match.guest}}</a>

 </div>
 {% endfor %}
</div>



{% endblock content %}
