{% extends "base.html" %}


{% block content %}

{% if not request.session.is_admin %}

<div class="list-group">
 {% for player in players %}
 <div class="list-group-item">

   <a href="/player/{{player.id}}" class="d-inline "> {{player.name}} {{player.last_name}} </a>
   {% if player.team_name != None %}
   (
   <a href="/team/{{player.team_id}}" class="d-inline "> {{player.team_name}} </a>
   )
   {% endif %}
 </div>
 {% endfor %}
</div>

{% else %}

<div class="list-group">
 {% for player in players %}
 <div class="list-group-item">

   <a href="/player/{{player.id}}" class="d-inline "> {{player.name}} {{player.last_name}} </a>
   {% if player.team_name != None %}
   (
   <a href="/team/{{player.team_id}}" class="d-inline "> {{player.team_name}} </a>
   )
   {% endif %}
  <div class="btn-group">
     <a href="/player/edit/{{player.id}}"  class="btn btn-xs btn-default">
    <span class="glyphicon glyphicon-edit"></span>
  </a>
      <a href="/player/delete/{{player.id}}" class="btn btn-xs btn-default">
     <span class="glyphicon glyphicon-trash"></span>
   </a>
 </div>
 </div>
 {% endfor %}
</div>


{% endif %}




{% endblock content %}
