{% extends "base.html" %}

{% block content %}

{% if not request.session.is_admin %}

<div class="list-group">
 {% for team in teams %}
 <div class="list-group-item">
   <p>
     <img src="/static/{{team.eblem}}" width=50 height=50>
   </p>
   <a href="team/{{team.id}}">{{team.name}}</a>

 </div>
 {% endfor %}
</div>

{% else %}

<div class="list-group">
 {% for team in teams %}
 <div class="list-group-item">
   <p>
     <img src="/static/{{team.eblem}}" width=50 height=50>
   </p>
   <a href="team/{{team.id}}">{{team.name}}</a>
   <div class="btn-group">
      <a href="/team/edit/{{team.id}}"  class="btn btn-xs btn-default">
     <span class="glyphicon glyphicon-edit"></span>
   </a>
       <a href="/team/delete/{{team.id}}" class="btn btn-xs btn-default">
      <span class="glyphicon glyphicon-trash"></span>
    </a>
   </div>

 </div>
 {% endfor %}
</div>

{% endif %}

{% endblock content %}
