{% extends "base.html" %}

{% block content %}

<div class="container-fluid">

  <div class="row">


    <div class="col-sm-3 " >
    <img src="/static/{{emblem}}" width=250 height=250></div>
    <div class="col-sm-9" style="background-color:lavenderblush;">
    <p>
      {{name}}
    </p>
    <p>
      {{city}}, {{country}}
    </p>
    </div>
      </div>

</div>


<h1> Players</h1>
<div class="list-group">
 {% for player in players %}
 <div class="list-group-item">

   <a href="/player/{{player.id}}">{{player.first_name}} {{player.last_name}}</a>

 </div>
 {% endfor %}
</div>



{% endblock content %}
